<?xml version="1.0" encoding="utf-8"?>
<launch>
    <node name="rviz" pkg="rviz" type="rviz" output="screen"
           args="-d $(find poly_planner)/config/eight.rviz"> 
    </node>

    <node pkg="poly_planner" type="poly_planner_node" name="poly_planner" output="screen">
        <rosparam file="$(find poly_planner)/config/poly_planner_params.yaml" command="load" />
    </node>

    
    <include file="$(find payload_mpc_controller)/launch/mpc.launch">
    <!-- <include file="$(find px4ctrl)/launch/run_ctrl.launch"> -->
        <!-- <arg name="odom_topic" value="/vins_estimator/odometry" /> -->
        <arg name="imu_topic" value="/airsim_node/drone_1/imu/imu" />
        <arg name="traj_topic" value="/trajectory_generator_node/trajectory" />
        <arg name="cmd_topic" value="/airsim_node/drone_1/angle_rate_throttle_frame" />
    </include>

</launch>
