<launch>
  <!-- main node -->
  <node pkg="map_publisher" name="map_publisher" type="map_publisher_node" output="screen">

    <remap from="~point_cloud" to="/voxel_mapping/occupancy_grid"/>   
    <!-- replanning method -->
    <param name="map_publisher/filepath" value="$(find map_publisher)/data/map_5.ply" type="string"/>

  </node>

</launch>