<launch>
    <arg name="enable_rviz" default="true"/>

    <node pkg="surfel_fusion" type="surfel_fusion" name="surfel_fusion" clear_params="true" output="screen">

        <!-- camera parameter -->
        <param name="cam_width"  value="640" />
        <param name="cam_height" value="480" />

        <!--input grey_image info-->
        <param name="cam_fx" value="320.0" />
        <param name="cam_fy" value="320.0" />
        <param name="cam_cx" value="320.0" />
        <param name="cam_cy" value="240.0" />

        <!-- fusion parameter, all in meter -->
        <param name="fuse_far_distence"  value="3.0" />
        <param name="fuse_near_distence" value="0.1" />

        <!-- for deform the map -->
        <param name="drift_free_poses" value="300" />

        <!-- for data save -->
        <remap from="~image" to="/airsim_node/drone_1/front_center_custom/Scene"/>
        <remap from="~depth" to="/airsim_node/drone_1/front_center_custom/DepthPlanar"/>
        <remap from="~loop_path" to="/drone_path" />
        <remap from="~extrinsic_pose" to="/vins_estimator/extrinsic" />
        <param name="save_name" value="$(find surfel_fusion)/output/output_map"/>

    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find surfel_fusion)/rviz/surfel.rviz" if="$(arg enable_rviz)"/>

</launch>
