<launch>
  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find plan_manage)/config/test.rviz" />
  <!-- <node name="circle_trajectory_publisher" pkg="plan_manage" type="circle_trajectory_publisher.py" output="screen" /> -->

  <node name="trajectory_publisher" pkg="plan_manage" type="trajectory_publisher.py" output="screen">
    <param name="vel" value="2.0" type="double"/>
  </node>



  <node name="visual_traj_pub" pkg="plan_manage" type="visual_traj_pub.py" output="screen" />
  <!-- <node name="point_cloud_difference" pkg="plan_manage" type="point_cloud_difference.py" output="screen" /> -->
  <!-- <node name="cloud_num_draw" pkg="plan_manage" type="cloud_num_draw.py" output="screen" /> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="drone1_pub" args="0 0 0 0 0 0 drone_1 world 100"/> -->
  <node name="pub_cloud_through_depth" pkg="plan_manage" type="pub_cloud_through_depth.py" output="screen" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="vins" args="0 0 0 0 0 1.5708 vins world 100"/> -->
</launch>
