<?xml version="1.0" encoding="utf-8"?>
<launch>
     <node name="rviz" pkg="rviz" type="rviz" output="screen"
           args="-d $(find param_identification)/config/visual.rviz"> 
    </node>

    <node name="pub_unique_traj" pkg="param_identification" type="pub_unique_traj" output="screen">
        <rosparam command="load" file="$(find param_identification)/config/frame_trans.yaml"/>
    </node>
</launch>
