<launch>
  <!-- main node -->
  <node pkg="lidar_converter" name="lidar_converter" type="lidar_converter_node" output="screen">

    <remap from="~input_point_cloud" to="/airsim_node/drone_1/lidar/Lidar"/>  
    <remap from="~output_point_cloud" to="/airsim_node/drone_1/lidar/Lidar2"/>   

  </node>

</launch>