<launch>
  <!-- Find the path to the ORB_SLAM3 package -->
  
  <!-- Define the vocabulary and config file paths -->
  <arg name="vocabulary_file" default="/home/star/ActiveSlam/ORB_SLAM3/Vocabulary/ORBvoc.txt" />
  <arg name="config_file" default="$(find vins)/../config/airsim/airsim_orb_stereo.yaml" />

  <!-- Launch ORB_SLAM3 node -->
  <node pkg="ORB_SLAM3" type="Stereo" name="ORB_SLAM3" output="screen" args="$(arg vocabulary_file) $(arg config_file) 0" >
    <!-- <remap from="/airsim_node/drone_1/front_center_custom/Scene" to="/camera/infra1/image_rect_raw"/> -->
    <!-- <remap from="/airsim_node/drone_1/front_center_custom_2/Scene" to="/camera/infra2/image_rect_raw" /> -->
  </node>
</launch>